{% extends "layout.html" %}

{% block content %}
    <!--<h1 style="color:red; font-size: 100px;">Mexflix</h1>-->
    <div class="logo">
        <img src="Mexflix.png">
    </div>
    <br/> 
    <h1 style="color:#fff; font-size: 20px;">Search:</h1> 
    <form>
        <input type="text" name="name_movie:" placeholder="Name of the movie" class="container p-2" id ="cuadro 1"><br>
    </form>

    <br/> 
    <br/>
    <h1 style="color:#fff; font-size: 20px;">Number of suggestions*:</h1>  
    <form style = "display:inline">
            <input type = "text" name = "min_lenght" placeholder = "Number of suggestion you want" 
            id = "cuadro2" style="width:30%">
            <br/>
    </form>
    <br/>
    <h1 style="color:#fff; font-size: 20px;">Confidence*:</h1> 
    <form style = "display:inline-block" >
                <input type = "text" name = "confidence_value" placeholder = "Value of confidence" id = "cuadro3">
                <br/>
    </form>
    <br/>
    <br>
    <h1 style="color:#fff; font-size: 20px;">Support*:</h1> 
    <form >
            <input type = "text" name = "support_value" placeholder = "Desired number of users that have watched"
             id = "cuadro3" style="width:30%">
            <br/>
    </form>
    <br> 
    <form action="http://localhost:8080/movie_results" method="POST">
         <input type = "submit" value = "Submit">
     </form>
    <br/>
    <br/>
    <br/>


{% endblock %}

