<html>
<head>
    <title>flask example</title>
</head>
<body>
    <h1>Welcome page</h1>
    <ol>
        {% for user in users_table %}
        <li>{{ user.name }} - {{ user.surname }}</li>
        {% endfor %}
    </ol>
</body>
</html>