<!--Our suggestion for you:-->

<!DOCTYPE html>
<html>
<head>
	<title>Suggestions</title>
    <link rel="stylesheet" href = "estilosSuggest.css">
</head>
<body style="background: black">
    <div class="logo">
        <img src="Mexflix.png">
    </div>
    
	<div class="subtitulo">
	<h2>Our suggestions for you:</h2>
    </div>
    <!--Lets set our images:-->
	<div class="row">
            <script>
                // Suggestionpy es la variable que retorna el algoritmo, cambia el nombre por el nombre que le pusiste.
                //mi dudad es si este script puede acceder a la variable(suggestionpy) que el .py retorna:
                var suggestion_js = '{{mov}}';

                var L = suggestions_js.length;
                var image_name;
                

                var suggestions = []

                var pathImages = "../../../Images/"
                //Agregar la terminación a los elementos:
                for (const i in suggestion_js){
                    image_name = suggestion_js[i].concat(".jpg")
                    image_name = pathImages.concat(image_name)
                    suggestions.push(image_name)
                }
                //Si hay dos peliculas en la lista:
                if (L == 2){

                    var sug = [];
                    var i;
                    for (i = 0; i < L; i++) {
                        sug.push(suggestion_js[i]);
                    } 

                    var image_1 = sug[0]; image_2 = sug[1];
                 
                    document.write("<div class="column">");
                    document.write("<img id= "imagen_1" src="image/2 guns.jpg">");
                    document.getElementById("image_1").src = image_1;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_2" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_2;
                    document.write("</div>");
                }
                //Si hay 3 peliculas en la lista:
                else if(L == 3 ){
                    var sug = [];
                    var i;
                    for (i = 0; i < L; i++) {
                        sug.push(suggestion_js[i]);
                    } 

                    var image_1 = sug[0]; image_2 = sug[1]; image_3 = sug[2];

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_1" src="image/2 guns.jpg">");
                    document.getElementById("image_1").src = image_1;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_2" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_2;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_3" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_3;
                    document.write("</div>");

                }
                else if(L == 4){

                    var sug = [];
                    var i;
                    for (i = 0; i < L; i++) {
                        sug.push(suggestion_js[i]);
                    } 

                    var image_1 = sug[0]; image_2 = sug[1]; image_3 = sug[2];
                    var image_4 = sug[3];

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_1" src="image/2 guns.jpg">");
                    document.getElementById("image_1").src = image_1;
                    document.write("<img id= "imagen_4" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_4;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_2" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_2;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_3" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_3;

                    document.write("</div>");
                }
                else if (L == 5){
                    var sug = [];
                    var i;
                    for (i = 0; i < L; i++) {
                        sug.push(suggestion_js[i]);
                    } 

                    var image_1 = sug[0]; image_2 = sug[1]; image_3 = sug[2];
                    var image_4 = sug[3]; image_5 = sug[4]; 

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_1" src="image/2 guns.jpg">");
                    document.getElementById("image_1").src = image_1;
                    document.write("<img id= "imagen_4" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_4;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_2" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_2;
                    document.write("<img id= "imagen_5" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_5;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_3" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_3;


                    document.write("</div>");

                }
                else if (L == 6){
                    var sug = [];
                    var i;
                    for (i = 0; i < L; i++) {
                        sug.push(suggestion_js[i]);
                    } 

                    var image_1 = sug[0]; image_2 = sug[1]; image_3 = sug[2];
                    var image_4 = sug[3]; image_5 = sug[4]; image_6 = sug[5];

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_1" src="image/2 guns.jpg">");
                    document.getElementById("image_1").src = image_1;
                    document.write("<img id= "imagen_4" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_4;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_2" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_2;
                    document.write("<img id= "imagen_5" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_5;
                    document.write("</div>");

                    document.write("<div class="column">");
                    document.write("<img id= "imagen_3" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_3;
                    document.write("<img id= "imagen_6" src="image/2 guns.jpg">");
                    document.getElementById("image_2").src = image_6;
                    
                    document.write("</div>");

                }
            
            </script>


	</div>
</body>
</html>